@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Basefarm<br />
    Sveavägen 159, 113 46 Stockholm<br />
    <abbr title="Phone">P:</abbr>
    08-501 126 00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@basefarm.com">support@basefarm.com</a><br />
</address>